/* GLOBAL */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Spectral SC', sans-serif;
  height: 100%;
  margin: 0;
  background-color: var(--mainBkgndColor);
  color: var(--mainFontColor);
  -webkit-text-stroke: 0.3px;
  padding: 0;

  @media screen and (min-width: 768px) {
    padding-left: 300px;
  }
}

strong {
  font-weight: 500;
}
