/* GLOBAL */

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Spectral SC', sans-serif;
  height: 100%;
  margin: 0;
  padding-top: 70px;
  background-color: var(--mainBkgndColor);
  color: var(--mainFontColor);
}


@media screen and (max-width: 767px) {
  body {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 0 0 0 300px;
  }
}
