/* VARIABLES */

:root {
  /* Color variables */
  --mainFontColor: #252525;
  --mainBkgndColor: #f1f1f1;
  --mainElmntBorderColor: #d9d9d9;
  --btnActive: #5b5b5b;
  --btnBorder: var(--btnActive);
  --listItemBorderBottom: var(--btnActive);
  --yelpReviewFontColor: #999;
  --yelpReviewFontHover: var(--btnActive);

  /* Other */
  --btnBorderRadius: 4px;
}
