/* VARIABLES */

:root {
  /* Color variables */
  --mainFontColor: #252525;
  --mainBkgndColor: #f1f1f1;
  --mainElmntBorderColor: #d9d9d9;
  --listElmntSelectedColor: var(--mainElmntBorderColor);
  --btnActiveColor: var(--mainElmntBorderColor);
  --btnBorderColor: #5b5b5b;
  --modalErrorMsgBackgroundColor: var(--mainElmntBorderColor);
  --modalBorderColor: var(--mainElmntBorderColor);
  --hamburgerColor: var(--btnBorderColor);
  --hamburgerActiveColor: var(--mainFontColor);
  --listItemBorderBottomColor: var(--btnBorderColor);
  --yelpReviewFontColor: #807b7b;
  --yelpReviewFontHoverColor: var(--btnBorderColor);
  --headlineRedColor: #bf0505;

  /* Size Variables */
  --btnBorderWidth: 1px;
  --btnBorderRadius: 8px;
  --generalBorderWidth: 1px;

  /* Misc Variables */
  --modalLinGradient: linear-gradient(90deg, rgba(var(--mainBkgndColor), 1), rgba(var(--mainBkgndColor), 0.2), rgba(var(--mainBkgndColor), 0), rgba(var(--mainBkgndColor), 0), rgba(var(--mainBkgndColor), 0.2), rgba(var(--mainBkgndColor), 1)), linear-gradient(0deg, rgba(var(--mainBkgndColor), 1), rgba(var(--mainBkgndColor), 0.5), rgba(var(--mainBkgndColor), 0) 16%), linear-gradient(0deg, rgba(var(--mainBkgndColor), 0), rgba(var(--mainBkgndColor), 0.4) 75%, rgba(var(--mainBkgndColor), 1));
}
