html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: lightblue;
}

.display {
  display: inline-block;
}

#map {
  display: inline-block;
  color: black;
  /*left: 300px;*/
  height: 100%;
  width: 700px;
}

.list-item {
  list-style: none;
  cursor: pointer;
  padding: 2px;
  margin: 6px 0;
}

.title {
  font-size: 15px;
  margin-bottom: 4px;
}

.museum-img {
  width: 100%;

  /*width: 200px;*/
}
