html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: lightblue;
}

.display {
  display: inline-block;
}

#map {
  display: inline-block;
  color: black;
  /*left: 300px;*/
  height: 100%;
  width: 700px;
}

.list-item {
  list-style: none;
  cursor: pointer;
  padding: 2px;
  margin: 6px 0;
}

.title {
  font-size: 15px;
  margin-bottom: 4px;
}

.yelp-img {
  margin: 4px 0;
  width: 230px;
  max-height: 375px;
}

.yelp-container {
  position: relative;
}

.yelp-rating {
  margin: 4px 0;
}

.yelp-reviews {
  color: #999;
  display: block;
  text-decoration: none;
}

.yelp-reviews:hover {
  color: #696969;
}

.yelp-reviews:visited {
  color: #999;
}

.yelp-logo {
  position: absolute;
  right: 20px;
  top: -3px;
}

.yelp-info {
  line-height: 1.4;
}
