/* FORM */

.form {
  padding: 10px 15px 15px;
  position: relative;
  text-align: center;
  font-size: 17px;

  &__load-screen {
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease-out;

    &--visible {
      opacity: 1;
      visibility: visible;
    }

    & .sk-circle {
      margin: 0;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__load-screen-inner {
    height: 100%;
    background-color: var(--mainBkgndColor);
    opacity: 0;
    transition: opacity 0.3s ease-out;

    .form__load-screen--visible & {
      opacity: 0.65;
    }
  }

  &__load-error-screen {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(var(--mainBkgndColor), 0.7);
  }

  &__load-error-text {
    font-size: 15px;
    margin: 50px 0 0;

    @media screen and (min-width: 512px) {
      font-size: 18px;
      margin: 30px 0 0;
    }

    @media screen and (min-width: 800px) {
      font-size: 20px;
      margin: 33px 0 0;
    }

    @media screen and (min-width: 940px) {
      font-size: 24px;
      margin: 33px 0 0;
    }
  }

  &__text {
    font-size: 20px;
    display: block;

    &--b-margin {
      margin-bottom: 5px;
    }
  }

  &__select {
    &--b-margin {
      margin-bottom: 17px;
    }

    & select {
      font-family: 'Spectral SC', sans-serif;
    }
  }

  &__radio {
    &--b-margin {
      margin-bottom: 17px;
    }

    & input {
      margin-right: 6px;
    }

    & input:not(:first-of-type) {
      margin-left: 24px;
    }
  }

  &__radio-curated-text {
    &--disabled {
      opacity: 0.5;
    }
  }

  &__submit {
    font-size: 16px;
  }
}
