/* FORM */

.form {
  padding: 10px 15px 15px;
  position: relative;
  text-align: center;
  font-size: 1.0625rem;

  &__load-screen {
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.3s ease-out;

    &--visible {
      opacity: 1;
      visibility: visible;
    }

    & .sk-circle {
      margin: 0;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__load-screen-inner {
    height: 100%;
    background-color: var(--mainBkgndColor);
    opacity: 0;
    transition: opacity 0.3s ease-out;

    .form__load-screen--visible & {
      opacity: 0.65;
    }
  }

  &__load-error-screen {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--mainBkgndColor);
    opacity: 0;
    transition: opacity 0.3s ease-out;
    visibility: hidden;

    &--visible {
      visibility: visible;
      opacity: 1;
    }
  }

  &__load-error-text {
    position: relative;
    margin: 0;
    padding: 0.85em 0.425em;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--modalErrorMsgBackgroundColor);
    font-size: 0.9375rem;
    border: var(--generalBorderWidth) solid var(--btnBorderColor);

    @mixin downToSmall {
      font-size: 1.125rem;
    }

    @media screen and (min-width: 800px) {
      font-size: 1.25rem;
    }

    @media screen and (min-width: 940px) {
      font-size: 1.5rem;
    }
  }

  &__text {
    font-size: 1.125rem;
    display: block;

    &--b-margin {
      margin-bottom: 5px;
    }

    @mixin downToSmall {
      font-size: 1.375rem;
    }
  }

  &__select {
    &--b-margin {
      margin-bottom: 17px;
    }

    & select {
      font-family: 'Spectral SC', sans-serif;
    }
  }

  &__radio {
    &--b-margin {
      margin-bottom: 10px;
    }
  }

  &__radio-elmnt {
    display: block;
    margin-bottom: 7px;
    margin-right: 0;
    font-size: 1.0625rem;

    @mixin downToSmall {
      display: inline-block;
      font-size: 1.1875rem;

      &:not(:first-of-type) {
        margin-left: 24px;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    & input {
      margin-right: 7px;
    }
  }

  &__radio-curated-text {
    &--disabled {
      opacity: 0.5;
    }
  }

  &__submit {
    font-size: 1rem;
  }
}
