/* HAMBURGER MENU */

.hamburger {
  &__bar {
    background-color: var(--mainFontColor);
    display: block;
    width: 21.7px;
    height: 5px;
    margin-bottom: 4px;

    &:first-of-type {
      margin-top: 4px;
    }
  }
}
