/* HAMBURGER MENU */

.hamburger {
  text-decoration: none;

  &--opaque-bkgnd {
    background-color: rgba(var(--mainBkgndColor), 0.7);
  }

  &__bar {
    background-color: var(--hamburgerColor);
    display: block;
    transition: background-color 0.3s ease-out;

    /* Size setting for very small screens */
    width: 15px;
    height: 4px;
    margin-bottom: 3px;

    /* Size setting for all other screens */
    @mixin downToVerySmall {
      width: 21.7px;
      height: 5px;
      margin-bottom: 4px;
    }

    &:first-of-type {
      margin-top: 4px;
    }

    &--active {
      background-color: var(--hamburgerActiveColor);
    }
  }
}
