/* HEADLINE */

.headline {
  font-weight: 600;

  &--no-t-margin-upto-lg {
    @mixin upToVeryLarge {
      margin-top: -1px;
    }
  }

  &--no-t-margin {
    margin-top: 0;
  }

  &--no-b-margin {
    margin-bottom: 0;
  }

  &--fw-light {
    font-weight: 500;
  }

  &--sm-b-margin {
    margin-bottom: 0.2em;
  }

  &--sm-t-margin {
    margin-top: 0.2em;
  }

  &--sm-l-margin-from-lg {
    @mixin downToVeryLarge {
      margin-left: 20px;
    }
  }

  /* Flexbox margin settings */
  .flexbox &--flex-xs-b-margin-upto-lg {
    @mixin upToVeryLarge {
      margin-bottom: 0.05em;
    }
  }

  .flexbox &--sm-l-margin-from-lg {
    /* Necessary to counteract the rule '.flexbox .header__headline { margin: 0; }': */
    @mixin downToVeryLarge {
      margin-left: 20px;
    }
  }

  &--red {
    color: var(--headlineRedColor);
  }

  &--underline-black {
    text-decoration: underline solid var(--mainFontColor);
  }

  &--opaque-bkgnd {
    background-color: rgba(var(--mainBkgndColor), 0.75);
  }

  &--b-radius {
    border-radius: 4px;
  }
}
