/* HEADER */
.header {
  /* background: url(../../../img/pic/Naha_Okinawa_Japan_Shuri-Castle-01_1x.jpg) top center no-repeat;
  background-size: cover; */
  position: fixed;
  text-align: center;
  height: 80px;
  top: 0;
  border-bottom: 1px solid var(--mainElmntBorderColor);
  right: 0;
  left: 0;
  z-index: 2;
  background-color: inherit;
  margin: 0;

  /* Modernizr flexbox setup */
  .flexbox & {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */

    @media screen and (min-width: 768px) {
      /* justify-content: center; */
    }
  }

  @media screen and (min-width: 768px) {
    padding-left: 300px;
  }

  &__headlines {
    padding: 5px 32px 5px 0;
    height: 80px;
    width: auto;
    display: block;
    overflow: hidden;

    @media screen and (min-width: 370px) {
      padding-right: 0;
      /* line-height: 0.95; */
    }

    /* Non-flexbox settings */

    /* display: inline-block; */

    .flexbox & {

      /* align-self: center; */
    }
  }

  &__headline {
    font-size: 25px;
    margin: 5px 0;
    max-height: 35px;
    line-height: 1.08;

    @media screen and (min-width: 424px) {
      font-size: 32px;
      line-height: 0.98;
    }

    @media screen and (min-width: 1134px) {
      display: inline-block;
      margin: 15px 0 0 20px;
      font-size: 38.4px;
      float: left;
    }

    @media screen and (min-width: 1280px) {
      font-size: 43.2px;
    }

    /* @media screen and (min-width: 1380px) {
      font-size: 46.4px;
    } */
  }

  &__hamburger {
    position: absolute;
    top: 24.5px;

    /* Offset for very small screens */
    right: 2px;

    /* Offset for small screens */
    @media screen and (min-width: 330px) {
      right: 5px;
    }

    /* Offset for all other screens */
    @media screen and (min-width: 345px) {
      right: 20px;
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
