/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  text-align: center;
  height: 70px;
  top: 0;
  border-bottom: 1px solid var(--mainElmntBorderColor);
  right: 0;
  left: 0;
  z-index: 2;
  background-color: inherit;
  margin: 0;

  @media screen and (min-width: 768px) {
    justify-content: center;
    padding-left: 300px;
  }

  &__hamburger {
    padding: 0 4px;
    margin: 17px 20px 17px 12px;

    @media screen and (min-width: 768px) {
      display: none;
    }

    &__bar {
      background-color: var(--mainFontColor);
      display: block;
      width: 21.7px;
      height: 5px;
      margin-bottom: 4px;

      &:first-of-type {
        margin-top: 4px;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 25px;
    margin: 5px 0 5px 12px;
    white-space: normal;
    line-height: 0.98;
    align-self: center;

    @media screen and (min-width: 480px) {
      font-size: 31px;
      line-height: 0.95;
    }

    @media screen and (min-width: 960px) {
      white-space: nowrap;
    }

    @media screen and (min-width: 1020px) {
      font-size: 35.2px;
    }

    @media screen and (min-width: 1080px) {
      font-size: 38.4px;
    }

    @media screen and (min-width: 1120px) {
      font-size: 40px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 43.2px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 46.4px;
    }
  }
}
