/* HEADER */

.header {
  /* background: url(../../../img/pic/Naha_Okinawa_Japan_Shuri-Castle-01_1x.jpg) top center no-repeat; */
  /* background-size: cover; */
  position: fixed;
  text-align: center;
  height: 80px;
  top: 0;
  border-bottom: 1px solid var(--mainElmntBorderColor);
  right: 0;
  left: 0;
  z-index: 2;
  background-color: inherit;
  margin: 0;

  @media screen and (min-width: 768px) {
    padding-left: 300px;
  }

  &__headlines {
    height: 80px;
    width: auto;
    overflow: hidden;

    /* Extra small screen right padding adjust */
    padding: 5px 32px 5px 0;

    /* All other screens padding */
    @media screen and (min-width: 370px) {
      padding-right: 0;
      /* line-height: 0.95; */
    }

    /* Non-flexbox settings */
    display: block;

    /* Flexbox settings (Modernizr) */
    .flexbox & {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      align-content: space-between;
      @media screen and (min-width: 1134px) {
        justify-content: flex-start;
        flex-wrap: nowrap;
      }
    }
  }

  &__headline {
    font-size: 25px;
    margin: 5px 0;
    max-height: 35px;
    line-height: 1.08;

    @media screen and (min-width: 424px) {
      font-size: 32px;
      line-height: 0.98;
    }

    @media screen and (min-width: 1134px) {
      /* Non-flexbox settings */
      display: inline-block;
      margin: 15px 0 0 20px;
      font-size: 38.4px;
      float: left;
    }

    @media screen and (min-width: 1280px) {
      font-size: 43.2px;
    }

    /* Flexbox settings (Modernizr) */
    .flexbox & {
      margin: 0;
      flex-basis: 100%;

      @media screen and (min-width: 1134px) {
        flex-basis: auto;
        display: block;
        font-size: 38.4px;
        float: none;
      }

      @media screen and (min-width: 1280px) {
        font-size: 43.2px;
      }
    }
  }

  &__hamburger {
    position: absolute;
    top: 24.5px;

    /* Offset for very small screens */
    right: 2px;

    /* Offset for small screens */
    @media screen and (min-width: 330px) {
      right: 5px;
    }

    /* Offset for all other screens */
    @media screen and (min-width: 345px) {
      right: 20px;
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
