/* INFO WINDOW */

.info-window {
  min-width: 230px;

  &__title {
    font-size: 0.9375rem;
    margin-bottom: 4px;
    color: var(--mainFontColor);
  }

  &__arrows {
    margin-bottom: 5px;
    padding: 0 40px;
  }

  &__arrows-next,
  &__arrows-prev {
    position: relative;
    display: inline-block;
    padding: 0;
    height: 39px;
    width: 39px;
    font-size: 2.075rem;
    font-family: monospace;
    font-weight: 600;
    line-height: normal;
  }

  &__arrows-next {
    float: right;
  }

  &__arrows-text {
    display: block;
    position: relative;
    top: 53.5%;
    transform: translateY(-50%);
  }
}
