/* INFO WINDOW */

.info-window {
  min-width: 230px;

  &__title {
    font-size: 0.9375rem;
    margin-bottom: 4px;
    color: var(--mainFontColor);
  }

  &__arrows {
    margin-bottom: 5px;
    padding: 0 40px;
  }

  &__arrows-next,
  &__arrows-prev {
    font-size: 1.875rem;
    font-size: 1.775rem;
    font-family: monospace;
    /* height: 39px; */
    padding: 0 10px;
    font-weight: 600;
    display: inline-block;
    line-height: normal;
    height: 39px;
    width: 39px;
  }

  &__arrows-next {
    float: right;
    position: relative;
    & .bof {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.bof {
  /* padding: 5px 0; */
  /* display: ; */
}
