/* INFO WINDOW */
.info-window {
  &__title {
    font-size: 15px;
    margin-bottom: 4px;
    color: var(--mainFontColor);
  }

  &__arrows-next,
  &__arrows-prev {
    font-size: 30px;
    font-family: monospace;
    padding: 0 10px;
    font-weight: 600;
    display: inline-block;
    margin: 0 5px;
  }

  &__arrows-next {
    float: right;
  }
}
