/* LIST SIDEBAR */

.list-sidebar {
  background-color: inherit;
  font-weight: 400;
  width: 300px;
  position: fixed;
  right: auto;
  top: 0;
  bottom: 0;
  z-index: 3;
  overflow-y: auto;
  border-radius: 0;
  height: auto;
  border-right: 1px solid var(--mainElmntBorderColor);
  transform: translateX(-100%);
}

.show-list-sidebar {
  animation: show 0.4s forwards;
}

@keyframes show {
  100% {
    transform: translateX(0);
  }
}

.hide-list-sidebar {
  animation: hide 0.4s forwards;
}

@keyframes hide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.list-sidebar-top {
  padding-bottom: 18px;
  border-bottom: 1px solid var(--mainElmntBorderColor);
}

.list-sidebar ul {
  padding: 5px 15px 5px;
  margin-top: 0;
}

.list-sidebar-filter {
  height: 35px;
  border: 2px solid var(--btnBorder);
  border-radius: var(--btnBorderRadius);
  padding: 5px 4px;
  width: 61%;
  margin: 17px 3px 0 8px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.43;

  &:focus {
    outline: auto;
    outline-offset: 0.5px;
  }
}

.list-sidebar-reset {
  margin-left: 1px;
  padding: 5px 7px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.43;
}

.list-sidebar-item {
  font-size: 18px;
  list-style: none;
  cursor: pointer;
  padding: 2px;
  margin: 6px 0;
  border-bottom: 1px solid var(--listItemBorderBottom);
  line-height: 1.42;
}
