.modal {
  background-color: var(--mainBkgndColor);
  z-index: 15;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all 0.3s ease-out;

  &--visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__headline {
    font-size: 30px;
    text-align: center;

    @media screen and (min-width: 468px) {
      font-size: 40px;
    }

    @media screen and (min-width: 768px) {
      font-size: 50px;
    }

    @media screen and (min-width: 1080px) {
      font-size: 60px;
    }

    @media screen and (min-width: 1120px) {
      font-size: 70px;
    }
  }

  &__form {
    border: 1px solid var(--mainElmntBorderColor);
  }
}
