/* MODAL */

.modal {
  z-index: 15;
  min-height: 400px;
  min-width: 320px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(var(--mainBkgndColor), 0.5);

  /* Visible state properties */
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: all 0.3s ease-out;

  &--hidden {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.125);
  }

  &__headline {
    font-size: 1.875rem;
    text-align: center;

    @mixin downToSmall {
      font-size: 2.5rem;
    }

    @mixin downToSidebarHide {
      font-size: 3.125rem;
    }

    @media screen and (min-width: 1120px) {
      font-size: 3.3rem;
    }
  }

  &__content {
    /* "Photo by CEphoto, Uwe Aranas" */

    /* background: url(../../../img/pic/Naha_Okinawa_Japan_Shuri-Castle-01_1x.jpg) top center no-repeat; */

    /* background-image: -webkit-image-set(url(../../../img/pic/Naha_Okinawa_Japan_Shuri-Castle-01_1x.jpg) 1x, url(../../../img/pic/Naha_Okinawa_Japan_Shuri-Castle-01_2x.jpg) 2x); */

    /* background-size: cover; */

    /* always cover containing div */
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--mainBkgndColor);
    border: var(--generalBorderWidth) solid var(--modalBorderColor);

    /* Visible properties */
    opacity: 1;
    transition: opacity 0.3s ease-out;

    /* Initial hidden state at page load time */
    &--hidden {
      opacity: 0;
    }
  }

  &__form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid var(--modalBorderColor);
  }

  &__close-btn {
    z-index: 20;
    visibility: visible;
    position: absolute;
    right: -26px;
    top: -29px;
    width: 53px;
    height: 53px;
    border-radius: 26.5px;

    /* .btn overrides */
    padding: 5px 0 0;
  }

  &__close-btn--hidden {
    visibility: hidden;
  }

  &__close-btn-x {
    font-size: 1.875rem;
    font-family: Arial, sans-serif;
    transform: scaleX(1.2);
    display: block;
  }
}
