/* YELP  */

.yelp {
  &__image {
    margin: 4px 0;
    width: 230px;
    max-height: 375px;
  }

  &__info {
    position: relative;
  }

  &__open-now {
    margin: 5px 0 8px;
  }

  &__rating {
    margin: 4px 0;
  }

  &__reviews {
    color: var(--yelpReviewFontColor);
    display: block;
    text-decoration: none;
    width: 125px;
    padding-top: 4px;

    &:hover {
      color: var(--yelpReviewFontHover);
    }

    &:visited {
      color: var(--yelpReviewFontColor);
    }
  }

  &__logo {
    position: absolute;
    right: 20px;
    top: -2px;
  }

  & p {
    line-height: 1.4;
  }
}
